@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
  }
.Container-Nav{
    width: 20%;
    height: 100vh;
    background-color: #c5ffc0;
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container-Nav p{
    margin-top: 20%;
    font-size: 100%;
    cursor: pointer;
}