
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
  }
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(197, 255, 192) 0%,
        rgb(197, 255, 192) 50%,
        paleturquoise 50%,
        paleturquoise 100%
    );
}
.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login-Box{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    width: 55%;
    height: 60%;
    background-color: rgb(255, 219 , 192);
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Username{
    width: 60%;
    height: 25%;
}
.Input-Username{
    font-size: 30px;
    margin-top: 2%;
    width: 100%;
    height: 40%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}
.Password{
    width: 60%;
    height: 25%;
}
.Input-Password{
    font-size: 30px;
    margin-top: 2%;
    width: 100%;
    height: 40%;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}

.button {
  margin-top: 3%;
  background-color: rgb(226, 252, 151);
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  padding: 0% 4%;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100%;
  margin-top: -100px;
  padding-top: 2px;
  padding-bottom: 3px;
  background : #8af5ec;
  left : -250px;
  transition : .3s;
  border-radius: 10px;
}
.btnText {
  color : rgb(0, 0, 0);
  transition : .3s;
}
.btnText2 {
  margin-top : 60px;
  color : #000000;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -8px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}